# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Server.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lando\Desktop\Coding\C#\Networking Library\Server\.idea\.idea.Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
